MOTORCYCLE_API_ENDPOINT=https://api.api-ninjas.com/v1/motorcycles
MOTORCYCLE_API_KEY=your_api_key_here
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
PAYMONGO_SECRET_KEY=
PAYMONGO_PUBLIC_KEY=
PAYMONGO_WEBHOOK_SECRET=
PAYMONGO_WEBHOOK_URL=
